.barra {
	background:#589442;
}
.fstyle{
    background:#589442;
    color: white;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.boxes {
    background: rgb(255, 255, 255);
 

}
h4{
    
}
.circle-badge {
    height: 100px;
    width: 100px;
    line-height:100px;
    text-align: center;
    border-radius: 50px;
    color:white;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
  }

.circle-badge2 {
    height: 70px;
    width: 70px;
    line-height:70px;
    text-align: center;
    border-radius: 50px;
    color:#589442;
    margin-top:10px;
    padding-top:5px;
    margin-left:auto;
    margin-right:auto;
  }
  .circle-avatar{
      background: white;
  }
.circle-one{
    background: #1ACAC0;
}
.circle-two{
    background: #FF5A5F;
}
.circle-three{
    background: #008489;
}
.hometitle{
    background-image: url(../img/background.jpg);
}
.imga {
    background: url(../img/background.jpg);
    height: 550px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
}
.cen{
    padding-top:180px;
    color: white;
    font-size: 150px;
}
.description{
    color: white;
    font-size: 30px;
}
.input-search{
    -moz-box-shadow:  0 4px 15px rgba(70, 70, 70, 0.4);
    -webkit-box-shadow: 0 4px 15px rgba(70, 70, 70, 0.4);
    box-shadow: 0 2px 10px rgba(70, 70, 70, 0.4);
    min-height: 60px;
    border-radius: 3px !important;
}
.back{
    background: rgb(241, 241, 241) !important;
}
.bojose{
    margin:0 auto;
    margin-left: 120%;
}
.pagination-prev, .pagination-next{
    border: 1px solid rgb(187, 187, 187);
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.pagination-prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination-next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pagination-page{
    border: 1px solid rgb(187, 187, 187);
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
}
.active{
    background: #007bff;
}
.pagination-page, .active > a {
    color:white;
}
.wrapper{
    background-color:rgb(241, 241, 241) !important
}
.product{
    border-radius: 5px;
    min-height: 100px;
}
.green-line:empty{
    width: auto;
    min-height:10px;
    background: #589442;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
}
.wrapper,mapholder{

}
.btn-login{
    background: white;
    color: #589442;
}
.login{
    margin-left: 100%;
}


.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .form .input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .btn-plog{
    background: #589442;
  }
  .valign{
      margin-top: 25%;
  }
  .cver{
      color:#4CAF50;
  }