<!-- Modal -->
<!--<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">-->
         

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">

                <div class="social form-contact row justify-content-center">
                    <button class="btn btns btn-facebook col-10 mb-2" id="fb" ng-click='loginFb()'><i class="fa fa-facebook" aria-hidden="true"></i> <b>&nbsp;Iniciar sesión con Facebook</b></button>
                    <button class="btn btns btn-twitter col-10 mb-2" id="twlogin" ng-click='loginTw()'><i class="fa fa-twitter" aria-hidden="true"></i> <b>&nbsp;Iniciar sesión con Twitter</b></button>
                </div>

            <div class="form mt-4">
                <form id="login_form" name="login_form" class="form-contact">
                    <div class="control-group row justify-content-center">
                        <input required type="text" id="user" name="user" ng-model="form.user" placeholder="Usuario" 
                        class="input-block-level input col-10 " maxlength="100">
                    </div>

                    <div class="control-group row justify-content-center">
                        <input required type="password" id="pass" name="pass" ng-model="form.pass" placeholder="Contraseña" 
                        class="input-block-level input col-10" maxlength="100">
                        <span class='error' ng-show="err"> {{errorpass}}</span>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-plog col-10" type="submit" name="submitLog" id="submitLog" ng-click="login()" 
                        ng-show="login_form.user.$valid && login_form.pass.$valid" value="Enviar" >Enviar</button>
                    </div>
                </form>
                </div>

                <div class="form-contact reg row justify-content-center">
                    <p class="message col-5">¿Aun no te has registrado? Hazlo <a href="#/user/alta/" id="linkReg">aquí</a></p>
                    <p class="message col-5"><a href="#/login/recuperar/" id="linkRest">¿Has olvidado tu contraseña?</a></p>
                </div>
            </div>
    
        <!--</div>
    </div>-->




