<div class="container-fluid mt-5 wrapper">

<!-- Lateral Izquierdo -->
<form id="profile_form" name="profile_form" class="form-perfil" novalidate>
    <div class="row pt-5 justify-content-center">
        <div class="col-1">
            <div class="row">
            <img id="avatar_user" src="{{user.avatar}}" width="50px;" />
            </div>
            <div class="row justify-content-center">
                <h1 class="form-profile-heading" id="username">{{user.nikname}}</h1>
            </div>
        </div>
    </div>

    <br />
    <div id="contenido" class="row justify-content-center">
        <div class="col-10">
            <div class="row justify-content-center align-items-center">
                <div class="col-5 mr-1">
                        <div class="card p-2">
                            <div class="row">
                                <div class="col-12">
                                    <p class="mb-1 icon"><i class="fa fa-pencil-square-o icon" aria-hidden="true"></i><span class="ml-2">Edit Profile</span></p>
                                    <small>Edit your profile(name,surname,email)</small>
                                    <p class="message mt-1">  <a href="" ng-click="console()" id="linkReg">Click here to modify</a></p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <p class="mb-1 icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i><span class="ml-2">Edit Password</span></p>
                                    <small>Edit your password</small>
                                    <p class="message mt-1">  <a href="" ng-click="pass()" id="linkReg">Click here to modify</a></p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <p class="mb-1 icon"><i class="fa fa-user" aria-hidden="true"></i><span class="ml-2">Edit Avatar</span></p>
                                    <small>Edit your avatar</small>
                                    <p class="message mt-1">  <a href="" ng-click="ava()" id="linkReg">Click here to modify</a></p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-5 mr-1 ">
                    <div class="card">
                        <div ng-style="stats" style="display:block;" class="mt-5 mb-5">
                            <div class="row justify-content-center mt-4 mb-4">
                                <p class="sttitle">Statistics</p>
                            </div>
                            <div class="row justify-content-center mt-4 mb-4">
                                <div class="col-3 tcent">
                                    <div class="row stat justify-content-center">Published offers</div>
                                    <div class="row justify-content-center">0</div>
                                </div>
                                <div class="col-3 tcent">
                                   <div class="row stat justify-content-center">Popularity</div>
                                    <div class="row justify-content-center">4.5/5</div>
                                </div>
                                <div class="col-3 tcent">
                                    <div class="row stat justify-content-center"> Account type</div>
                                    <div class="row justify-content-center">Standard</div>
                                </div>
                            </div>
                        </div>
                        <div ng-style="myStyle" style="display:none;">
                            <div class="row justify-content-center"><p class="sttitle"> Edit Profile</p></div>
                            <div class="row justify-content-center mb-4">
                                <div class="col-10">
                                    <label class="nombre pefil">Nombre de la empresa:</label>
                                    <input type="text" required id="inputName" ng-model="user.emp_name" name="inputName" placeholder="Nombre" ng-pattern="/^\D{3,30}$/"
                                    class="form-control" dir="auto" ng-minlength="2" maxlength="100" ng-change="change_profile()">
                                    <span class='error' ng-show="!profile_form.inputName.$valid && profile_form.inputName.$error.required && (profile_form.inputName.$dirty || profile_form.inputName.$touched)" >Nombre no válido</span>
                                    <span class="text-danger" ng-show="profile_form.inputName.$error.pattern">Nombre no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="user.emp_name_error">{{user.nombre_error}}</span>
                                </div>
                                <div class="col-10">
                                    <label class="email pefil">Email:</label>
                                    <input required type="text" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"
                                    id="inputEmail" ng-disabled="{{controlmail}}" ng-model="user.email" name="inputEmail"
                                    placeholder="Email" class="form-control" maxlength="100" ng-change="change_profile()">
                                    <span class='error' ng-show="!profile_form.inputEmail.$valid && profile_form.inputEmail.$error.required && (profile_form.inputEmail.$dirty || profile_form.inputEmail.$touched)" >Email no válido</span>
                                    <span class="text-danger" ng-show="profile_form.inputEmail.$error.email">Email no valido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="user.email_error">{{user.email_error}}</span>
                                </div>
                                <div class="col-10">
                                    <label class="pefil">Pais:</label>
                                    <select name="pais"  class="form-control" ng-model="user.pais"ng-options="item.sName for item in paises" placeholder="Pais" id="pais" ng-change="resetPais()">
                                        <option value="">Seleccione un pais</option>
                                    </select>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="user.pais_error">{{user.pais_error}}</span>
                                </div>
                                <div class="col-5">
                                    <label class="pefil">Provincia:</label>
                                    <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
                                    ng-model="user.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="user.pais.sISOCode!='ES'">
                                        <option value="">Seleccione una provincia</option>
                                    </select>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="user.prov_error">{{user.prov_error}}</span>
                                </div>
                                <div class="col-5">
                                    <label class="pefil">Poblacion:</label>
                                    <select type="text" class="form-control" name="poblacion" ng-model="user.poblacion"
                                    ng-options="item.poblacion for item in poblaciones "placeholder="Poblacion" id="poblacion" ng-disabled="user.pais.sISOCode!='ES'">
                                        <option value="">Seleccione una ciudad</option>
                                    </select>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="user.pob_error">{{user.pob_error}}</span>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                        <input class="submit_user btn btn-success" type="button" ng-click="submitprofile()" name="submit" id="submitBtn_user" value="Guardar"
                                        ng-show="profile_form.inputName.$valid"/>
                            </div>
                        </div>
                        <div ng-style="myPass" style="display:none;">
                            <label class="pefil">Contraseña:</label>
                            <input required type="password" ng-model="user.password" id="inputPass" name="inputPass" ng-pattern="/^.{6,12}$/"
                            placeholder="Contraseña" class="form-control" dir="auto" ng-minlength="6" maxlength="100" ng-change="change_profile()">
                            <span class='error' ng-show="!profile_form.inputPass.$valid && profile_form.inputPass.$error.required && (profile_form.inputPass.$dirty || profile_form.inputPass.$touched)" >Contraseña muy pequeña, mínimo 6 carácteres</span>
                            <span class="text-danger" ng-show="profile_form.inputPass.$error.pattern">Passwd no válido</span><br />
                            <span class="text-danger" ng-show="AlertMessage" ng-model="user.pass_error">{{user.pass_error}}</span>

                            <input class="submit_user btn btn-success" type="button" ng-click="submitpass()" name="submit" id="submitBtn_user" value="Guardar"
                            ng-show="profile_form.inputPass.$valid"/>
                        </div>
                        <div ng-style="myDrop" style="display:none;">
                            <!--Aci va el html del dropzone-->
                        <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>

                        </div>
   
                </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 ">
                    <div class="row justify-content-center">To modify your personal location, please drag and drop the marker or click on map place</div>
                    <div ng-style="myLocation" >
                        <div ng-controller="testCtrl">
                                <ng-map id="map" center="{{lat}},{{long}}" zoom="10" on-click="getpos($event)" >
                                  <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)"
                                     animation="DROP" draggable="true"></marker>
                                </ng-map>
                                <input class="submit_user btn btn-success"  type="button" ng-click="savelocaion()" value="Guardar Posicion"/>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
