<div class="container mt-5">
    	<div class="row justify-content-center valign">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Forgot Password?</h2>
                          <p>You can reset your password here.</p>
                          <div class="panel-body">
            
                            <form id="restore_form" name="restore_form" class="form-contact">
            
                              <div class="form-group">
                                <div class="input-group justify-content-center">
                                  <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                  <input required ng-model="restore.inputEmail" type="email" id="inputEmail" name="inputEmail" placeholder="Email" class="input-block-level" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                                  <span class="text-danger" ng-show="restore_form.inputEmail.$error.required && (restore_form.inputEmail.$dirty || restore_form.inputEmail.$touched)">El campo es obligatorio</span>
                                  <span class="text-danger" ng-show="restore_form.inputEmail.$error.email">Email no valido</span>
                                </div>
                              </div>
                              <div class="form-group">
                                    <input class="btn btn-primary" type="submit" name="submit" id="restoreBtn" value="Enviar" ng-show="restore_form.inputEmail.$valid" ng-click="SubmitRestore()"/>
                                </div>
                                      <div id="resultMessage" ng-class="class">{{message}}</div>

                              <input type="hidden" name="token" value="restore_form" /> 
                            </form>
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
    
</div> <!-- /container -->

