<script src="frontend/modules/contact/view/lib/button.js"></script>
<div class="container mt-5" style="padding-top:50px;">
	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm">
				<form id= "form_contact" name= "form_contact" class= "form_contact">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter name" required="required" ng-model="contact.inputName" maxlength="100"/>
							<span class="text-danger" ng-show="form_contact.inputName.$error.required && (form_contact.inputName.$dirty || form_contact.inputName.$touched)">El campo es obligatorio</span>
						</div>
						<div class="form-group">
							<label for="email">Email Address</label>
							<div class="input-group">
								<input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter email" required="required" ng-model="contact.inputEmail" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"/>
							</div>
							<span class="text-danger" ng-show="form_contact.inputEmail.$error.required && (form_contact.inputEmail.$dirty || form_contact.inputEmail.$touched)">El campo es obligatorio</span>
							<span class="text-danger" ng-show="form_contact.inputEmail.$error.email">Email no valido</span>
						</div>
						<div class="form-group">
							<label for="subject">Subject</label>
							<select id="inputSubject" name="inputSubject" class="form-control" required="required" ng-model="contact.inputSubject" title="Choose subject" >
									<option value="">- Por favor, seleccione un tema de consulta -</option>
								<option value="General">General</option>
								<option value="Technical">Technical</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Message</label>
							<textarea name="inputMessage" id="inputMessage" class="form-control" rows="9" cols="25" required="required" placeholder="Message" ng-model="contact.inputMessage"></textarea>
							<span class="text-danger" ng-show="form_contact.inputMessage.$error.required && (form_contact.inputMessage.$dirty || form_contact.inputMessage.$touched)">El campo es obligatorio</span>
						</div>
					</div>
				</div>
				<div class="row justify-content-md-center">
						<div class="col-1">
							<input class="btn" style="background-color:#589442;color:white;" type="submit" name="submit" id="submitBtn" value="Enviar" 
							ng-show="form_contact.inputName.$valid && form_contact.inputEmail.$valid && form_contact.inputMessage.$valid" 
							ng-click="SubmitContact()"/>
						</div>
						<!--<button type="button" id="boton" class="btn" ng-click="SubmitContact()">Send Message</button>-->
					</div>
				</form>
			</div>
		</div>

	</div>
</div>