<div class="text-center mt-5 pt-3">
	<div class="imga">
		<h1 class="display-1 cen">Farmix</h1>
		<p class="description">De el campo a tu casa xD</p>
	</div>

	<div class="container">
		<!--Real Experience-->
		<div class="row justify-content-md-center mt-4"><h4>Real Experiences</h4></div>
		<div class="row justify-content-md-center  mt-4 mb-4">
			<div class="col-5 mr-3" style="background:rgb(240, 240, 240);">
				<div class="row justify-content-md-center">
					<div class="col-4">
						<div class="row justify-content-md-center" style="background: #589442;color:white;">
							<div class="circle-badge2 circle-avatar">
								<i class="fa fa-user fa-2x" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row justify-content-md-center pt-2" style="background: #589442;color:white;">Name</div>
						<div class="row justify-content-md-center pt-2 pb-5" style="background: #589442;color:white;">Verified user<i class="fa fa-check pt-1 pl-1" aria-hidden="true"></i></div>
					</div>
					<div class="col-8 pt-3 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
				</div>
			</div>
			<div class="col-5 mr-3" style="background:rgb(240, 240, 240);">
					<div class="row justify-content-md-center">
						<div class="col-4">
							<div class="row justify-content-md-center" style="background: #589442;color:white;">
								<div class="circle-badge2 circle-avatar">
									<i class="fa fa-user fa-2x" aria-hidden="true"></i>
								</div>
							</div>
							<div class="row justify-content-md-center pt-2" style="background: #589442;color:white;">Name</div>
							<div class="row justify-content-md-center pt-2 pb-5" style="background: #589442;color:white;">Verified user <i class="fa fa-check pt-1 pl-1" aria-hidden="true"></i></div>							
						</div>
						<div class="col-8 pt-3 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					</div>
				</div>
		</div>
		<!--HOW IT WORKS-->
		<hr>
		<div class="row justify-content-md-center"><h4>How it works?</h4></div>
		<div class="row justify-content-md-center ">
			<!--Discover MAPS-->
			<div class="col-3 ml-2 mr-2 pt-4 pb-4 boxes">
				<div class="row align-self-center">
					<div class="circle-badge circle-one">
							<i class="fa fa-map-o fa-3x" aria-hidden="true"></i>
					</div>
					<div class="col-12 "></div>
				</div>
				<div class="row align-self-center pt-2">
					<div class="col-12">
						<div class="row">
							<div class="col-12">
								<strong>Encuentra</strong>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								agricultores en tu zona
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Market-->
			<div class="col-3 ml-2 mr-2 pt-4 pb-4 boxes">
					<div class="row align-self-center">
						<div class="circle-badge circle-two	" >
								<i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
						</div>
						<div class="col-12 "></div>
					</div>
					<div class="row align-self-center pt-2">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<strong>Compra</strong>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									sus productos
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Recibelo-->
				<div class="col-3 ml-2 mr-2 pt-4 pb-4 boxes">
						<div class="row align-self-center">
							<div class="circle-badge circle-three" >
									<i class="fa fa-archive fa-3x" aria-hidden="true"></i>
							</div>
							<div class="col-12 "></div>
						</div>
						<div class="row align-self-center pt-2">
							<div class="col-12">
								<div class="row">
									<div class="col-12">
										<strong>Recibelo</strong>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										en casa
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
	</div>
	
</div>
