/* Powtoon custom font */
/* Created by Ori Ziv */
/* Done with IconMoon */
@font-face {
  font-family: "cc-icons";
  src: url("../../../webfonts/cc/cc-icons.eot?-dx7z9f");
  src: url("../../../webfonts/cc/cc-icons.eot?#iefixeguj3m") format("embedded-opentype"), url("../../../webfonts/cc/cc-icons.woff?-dx7z9f") format("woff"), url("../../../webfonts/cc/cc-icons.ttf?-dx7z9f") format("truetype"), url("../../../webfonts/cc/cc-icons.svg?-dx7z9f##icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="cc-"], [class*=" cc-"] {
  font-family: 'cc-icons';
  speak: none;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cc-gp:before {
  content: "\e493"; }

.cc-C:before {
  content: "\43"; }

.cc-a:before {
  content: "\61"; }

.cc-b:before {
  content: "\62"; }

.cc-c:before {
  content: "\63"; }

.cc-d:before {
  content: "\64"; }

.cc-m:before {
  content: "\6d"; }

.cc-n:before {
  content: "\6e"; }

.cc-p:before {
  content: "\70"; }

.cc-r:before {
  content: "\72"; }

.cc-s:before {
  content: "\73"; }

.cc-Attribution-NonCommercial-ShareAlike-License:before {
  content: "\62\6e\61"; }

.cc-Attribution-NonCommercial-License:before {
  content: "\62\6e"; }

.cc-Attribution-NonCommercial-NoDerivs-License:before {
  content: "\62\6e\64"; }

.cc-Attribution-License:before {
  content: "\62"; }

.cc-Attribution-ShareAlike-License:before {
  content: "\62\61"; }

.cc-Attribution-NoDerivs-License:before {
  content: "\62\64"; }

.cc-No-known-copyright-restrictions:before {
  content: "\71"; }
