/* Powtoon new Player page css */
/* Powtoon custom font */
/* Created by Ori Ziv */
/* Done with IconMoon */
@import url("../../../vendor/fontawesome/4.6.3/css/font-awesome.min.css");
@font-face {
  font-family: "pt-font";
  src: url("../../../webfonts/Powtoon/pt-font.eot?eguj3m");
  src: url("../../../webfonts/Powtoon/pt-font.eot?#iefixeguj3m") format("embedded-opentype"), url("../../../webfonts/Powtoon/pt-font.woff?eguj3m") format("woff"), url("../../../webfonts/Powtoon/pt-font.ttf?eguj3m") format("truetype"), url("../../../webfonts/Powtoon/pt-font.svg?eguj3m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="pt-"], [class*=" pt-"] {
  font-family: 'pt-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pt-gp:before {
  content: "\e493"; }

.pt-fb:before {
  content: "\e498"; }

.pt-tw:before {
  content: "\e49d"; }

.pt-yt:before {
  content: "\eef4"; }

.pt-ln:before {
  content: "\e4cf"; }

.pt-drop:before {
  content: "\e635"; }

.pt-star:before {
  content: "\e634"; }

.pt-walkthrough:before {
  content: "\e632"; }

.pt-chat:before {
  content: "\e633"; }

.pt-boxarrow_right:before {
  content: "\e600"; }

.pt-fullarrow_up:before {
  content: "\e62f"; }

.pt-fullarrow_right:before {
  content: "\e630"; }

.pt-fullarrow_bottom:before {
  content: "\e631"; }

.pt-fullarrow_left:before {
  content: "\e601"; }

.pt-like:before {
  content: "\e62b"; }

.pt-play:before {
  content: "\e62c"; }

.pt-quickclips:before {
  content: "\e628"; }

.pt-terms:before {
  content: "\e629"; }

.pt-settings:before {
  content: "\e62a"; }

.pt-create:before {
  content: "\e627"; }

.pt-slides:before {
  content: "\e625"; }

.pt-studio:before {
  content: "\e626"; }

.pt-speaker:before {
  content: "\e624"; }

.pt-x:before {
  content: "\e623"; }

.pt-prize:before {
  content: "\e622"; }

.pt-refresh:before {
  content: "\e621"; }

.pt-lock:before {
  content: "\e61e"; }

.pt-checkmark:before {
  content: "\e61b"; }

.pt-heart:before {
  content: "\e61c"; }

.pt-headset:before {
  content: "\e61d"; }

.pt-contact:before {
  content: "\e61f"; }

.pt-portfolio:before {
  content: "\e620"; }

.pt-customize:before {
  content: "\e61a"; }

.pt-arrow_right:before {
  content: "\e617"; }

.pt-close:before {
  content: "\e618"; }

.pt-sun:before {
  content: "\e619"; }

.pt-linkedin:before {
  content: "\e616"; }

.pt-copy:before {
  content: "\e603"; }

.pt-label:before {
  content: "\e614"; }

.pt-folder:before {
  content: "\e615"; }

.pt-brush:before {
  content: "\e612"; }

.pt-link:before {
  content: "\e613"; }

.pt-arrow_down:before {
  content: "\e602"; }

.pt-arrow_up:before {
  content: "\e604"; }

.pt-calendar:before {
  content: "\e605"; }

.pt-edit:before {
  content: "\e606"; }

.pt-embed:before {
  content: "\e607"; }

.pt-embedic:before {
  content: "\e608"; }

.pt-facebook:before {
  content: "\e609"; }

.pt-globe:before {
  content: "\e60a"; }

.pt-gplus:before {
  content: "\e60b"; }

.pt-hd:before {
  content: "\e60c"; }

.pt-mail:before {
  content: "\e60d"; }

.pt-more:before {
  content: "\e60e"; }

.pt-share:before {
  content: "\e60f"; }

.pt-twitter:before {
  content: "\e610"; }

.pt-vi:before {
  content: "\e611"; }

.pt-wistia:before {
  content: "\e62d"; }

.pt-youtube:before {
  content: "\e62e"; }

.wistia_player {
  width: 640px;
  height: 360px; }
  .wistia_player.embed {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: "VisbyCF-Light";
  src: url("/webfonts/Visby/VisbyCF-Light.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Light.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Light.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Light.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Bold";
  src: url("/webfonts/Visby/VisbyCF-Bold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Bold.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Bold.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Bold.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Medium";
  src: url("/webfonts/Visby/VisbyCF-Medium.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Medium.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Medium.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Medium.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Thin";
  src: url("/webfonts/Visby/VisbyCF-Thin.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Thin.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Thin.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Thin.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-DemiBold";
  src: url("/webfonts/Visby/VisbyCF-DemiBold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-DemiBold.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-DemiBold.woff") format("woff"), url("/webfonts/Visby/VisbyCF-DemiBold.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-DemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-ExtraBold";
  src: url("/webfonts/Visby/VisbyCF-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-ExtraBold.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-ExtraBold.woff") format("woff"), url("/webfonts/Visby/VisbyCF-ExtraBold.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Heavy";
  src: url("/webfonts/Visby/VisbyCF-Heavy.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Heavy.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Heavy.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Heavy.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Black Italic";
  src: url("/webfonts/Muller/Muller-Black Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Black Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Black Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Black Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Black Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Black";
  src: url("/webfonts/Muller/Muller-Black.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Black.otf") format("opentype"), url("/webfonts/Muller/Muller-Black.woff") format("woff"), url("/webfonts/Muller/Muller-Black.ttf") format("truetype"), url("/webfonts/Muller/Muller-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Bold Italic";
  src: url("/webfonts/Muller/Muller-Bold Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Bold Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Bold Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Bold Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Bold Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Bold";
  src: url("/webfonts/Muller/Muller-Bold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Bold.otf") format("opentype"), url("/webfonts/Muller/Muller-Bold.woff") format("woff"), url("/webfonts/Muller/Muller-Bold.ttf") format("truetype"), url("/webfonts/Muller/Muller-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-ExtraBold Italic";
  src: url("/webfonts/Muller/Muller-ExtraBold Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-ExtraBold Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-ExtraBold Italic.woff") format("woff"), url("/webfonts/Muller/Muller-ExtraBold Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-ExtraBold Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-ExtraBold";
  src: url("/webfonts/Muller/Muller-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-ExtraBold.otf") format("opentype"), url("/webfonts/Muller/Muller-ExtraBold.woff") format("woff"), url("/webfonts/Muller/Muller-ExtraBold.ttf") format("truetype"), url("/webfonts/Muller/Muller-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Hairline Italic";
  src: url("/webfonts/Muller/Muller-Hairline Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Hairline Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Hairline Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Hairline Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Hairline Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Hairline";
  src: url("/webfonts/Muller/Muller-Hairline.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Hairline.otf") format("opentype"), url("/webfonts/Muller/Muller-Hairline.woff") format("woff"), url("/webfonts/Muller/Muller-Hairline.ttf") format("truetype"), url("/webfonts/Muller/Muller-Hairline.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Heavy Italic";
  src: url("/webfonts/Muller/Muller-Heavy Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Heavy Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Heavy Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Heavy Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Heavy Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Heavy";
  src: url("/webfonts/Muller/Muller-Heavy.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Heavy.otf") format("opentype"), url("/webfonts/Muller/Muller-Heavy.woff") format("woff"), url("/webfonts/Muller/Muller-Heavy.ttf") format("truetype"), url("/webfonts/Muller/Muller-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Light Italic";
  src: url("/webfonts/Muller/Muller-Light Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Light Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Light Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Light Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Light Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Light";
  src: url("/webfonts/Muller/Muller-Light.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Light.otf") format("opentype"), url("/webfonts/Muller/Muller-Light.woff") format("woff"), url("/webfonts/Muller/Muller-Light.ttf") format("truetype"), url("/webfonts/Muller/Muller-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Medium Italic";
  src: url("/webfonts/Muller/Muller-Medium Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Medium Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Medium Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Medium Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Medium Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Medium";
  src: url("/webfonts/Muller/Muller-Medium.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Medium.otf") format("opentype"), url("/webfonts/Muller/Muller-Medium.woff") format("woff"), url("/webfonts/Muller/Muller-Medium.ttf") format("truetype"), url("/webfonts/Muller/Muller-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Regular Italic";
  src: url("/webfonts/Muller/Muller-Regular Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Regular Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Regular Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Regular Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Regular Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Regular";
  src: url("/webfonts/Muller/Muller-Regular.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Regular.otf") format("opentype"), url("/webfonts/Muller/Muller-Regular.woff") format("woff"), url("/webfonts/Muller/Muller-Regular.ttf") format("truetype"), url("/webfonts/Muller/Muller-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Thin Italic";
  src: url("/webfonts/Muller/Muller-Thin Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Thin Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Thin Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Thin Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Thin Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Thin";
  src: url("/webfonts/Muller/Muller-Thin.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Thin.otf") format("opentype"), url("/webfonts/Muller/Muller-Thin.woff") format("woff"), url("/webfonts/Muller/Muller-Thin.ttf") format("truetype"), url("/webfonts/Muller/Muller-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-UltraLight Italic";
  src: url("/webfonts/Muller/Muller-UltraLight Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-UltraLight Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-UltraLight Italic.woff") format("woff"), url("/webfonts/Muller/Muller-UltraLight Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-UltraLight Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-UltraLight";
  src: url("/webfonts/Muller/Muller-UltraLight.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-UltraLight.otf") format("opentype"), url("/webfonts/Muller/Muller-UltraLight.woff") format("woff"), url("/webfonts/Muller/Muller-UltraLight.ttf") format("truetype"), url("/webfonts/Muller/Muller-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  outline: none !important; }

body {
  color: #253740;
  background: white;
  font-family: "Muller", "Open Sans", Verdana, Arial, san-serif !important; }

.main {
  padding-top: 83px; }

.container {
  width: 1024px;
  background: transparent; }

header {
  border-top: 0; }
  header .logo-wrap {
    margin: 7px 0px 0 84px; }
  header .nav-wrap {
    margin: 15px 60px 0px 0px; }
    header .nav-wrap ul {
      margin: 0 !important; }
  header .container {
    width: 100%;
    max-width: inherit; }

#messages_container {
  max-width: 1024px;
  margin: 0 auto; }

.message-box {
  padding: 0px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
          transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow: hidden;
  max-height: 150px; }
  .message-box.closed {
    max-height: 0;
    opacity: 0;
    -webkit-user-select: none; }

.msg {
  background: #e5e5e5 url("https://powtoon-dev2-static.s3.amazonaws.com/img/noise_bg.png");
  padding: 10px 0px 10px 0px;
  display: block;
  margin-top: 10px;
  color: #34414c;
  box-shadow: inset 23px 0px 0px white; }
  .msg .sign {
    text-align: right;
    font-size: 30px;
    -webkit-user-select: none;
    background: #89d0ac;
    height: 57px;
    box-shadow: inset 23px 0px 0px #1bb88e;
    color: white; }
    .msg .sign i {
      margin-top: 12px;
      display: inline-block; }
  .msg .pipe {
    text-align: center; }
  .msg .text {
    text-align: left; }
  .msg .close-msg {
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    margin-top: 23px;
    text-transform: uppercase; }
    .msg .close-msg i {
      margin-right: 7px;
      font-size: 10px; }
    .msg .close-msg:hover {
      color: #4a6f81;
      cursor: pointer; }

.hide-player {
  display: none !important;
  visibility: hidden !important; }

.external-video-player #youtube-player.hide-player, .external-video-player #wistia-player.hide-player {
  display: block !important;
  visibility: visible !important; }

.youtube-video {
  position: absolute;
  width: 100%;
  height: 100%; }

.export-button-area {
  display: inline-block; }

.export-buttons-bottom-line {
  margin-top: 11px !important;
  margin-bottom: 18px !important; }

a.user-option.pticon-offline_player {
  font-size: 29px;
  color: #34414c;
  line-height: 100%;
  cursor: pointer;
  width: 56px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0;
  padding: 0; }
  a.user-option.pticon-offline_player:hover {
    color: #fe9651; }
  a.user-option.pticon-offline_player:before {
    display: block;
    margin-bottom: 4px;
    margin-top: 2px; }
  a.user-option.pticon-offline_player span {
    font-size: 9px;
    display: block;
    line-height: 100%;
    font-family: 'VisbyCF-Medium',Arial,san-serif; }

.arrow {
  -webkit-user-select: none;
  height: 10px;
  position: relative; }
  .arrow:after {
    top: 100%;
    right: 175px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #c1e7ee;
    border-width: 30px;
    margin-left: -30px; }

.logo-cont {
  width: 95px !important;
  margin-left: 14px !important; }

.player-page .icon-fix-linkedin:before {
  font-size: 19px;
  position: relative;
  top: -11px;
  margin: 0 9px; }

.player-page .icon-fix-copy:before {
  font-size: 18px;
  position: absolute;
  top: 12px;
  margin: 0 6px;
  left: 0; }

.player-page .icon-fix-email:before {
  position: relative;
  top: 1px;
  margin: 0 4px; }

.player-page .icon-fix-google:before {
  margin-left: -11px;
  position: relative;
  top: -4px;
  font-size: 49px; }

.player-page .icon-fix-twitter:before {
  margin-left: -8px;
  position: relative;
  top: -4px;
  font-size: 49px; }

.player-page .icon-fix-facebook:before {
  margin-left: -13px; }

.player-page .social-line-break {
  margin-top: 0; }

.player-page div::-moz-selection, .player-page span::-moz-selection {
  background: #fff3b7; }

.player-page div::selection, .player-page span::selection {
  background: #fff3b7; }

.player-page div::-moz-selection, .player-page span::-moz-selection {
  background: #fff3b7; }

.player-page [class*=" pt-"] {
  font-size: 30px;
  vertical-align: top; }

.player-page .row .col-md-12 {
  padding-left: 30px; }

.player-page .modal-body .row .col-md-12 {
  padding-left: 15px; }

.player-page .pt-slideshare .premium_badge, .player-page .pticon-offline_player .premium_badge, .player-page .pt-hd .premium_badge {
  width: 22px;
  top: 2px;
  left: 24px;
  height: 22px;
  position: absolute;
  background-color: #eb7f17;
  border-radius: 50px;
  -webkit-transition: width .3s ease-out;
  transition: width .3s ease-out;
  overflow: hidden;
  font-size: 10px;
  color: #fff;
  font-family: Muller-Regular;
  text-align: left; }
  .player-page .pt-slideshare .premium_badge:hover, .player-page .pticon-offline_player .premium_badge:hover, .player-page .pt-hd .premium_badge:hover {
    width: 77px;
    z-index: 100; }
  .player-page .pt-slideshare .premium_badge div, .player-page .pticon-offline_player .premium_badge div, .player-page .pt-hd .premium_badge div {
    width: 70px; }
    .player-page .pt-slideshare .premium_badge div span, .player-page .pticon-offline_player .premium_badge div span, .player-page .pt-hd .premium_badge div span {
      display: inline-block;
      text-align: center;
      margin-left: 3px; }
    .player-page .pt-slideshare .premium_badge div i, .player-page .pticon-offline_player .premium_badge div i, .player-page .pt-hd .premium_badge div i {
      width: 14px;
      height: 11px;
      background-repeat: no-repeat;
      background-image: url(../../../images/powtoon-rebirth/crown.svg);
      display: inline-block;
      margin: 5px 5px 3px 4px; }

.player-page .pticon-offline_player::after {
  left: -2px; }

.player-page a {
  text-decoration: none; }
  .player-page a.brand-logo img {
    width: 277px;
    height: 38px; }

.player-page .user-option {
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  color: #253740;
  display: inline-block;
  width: 40px;
  height: 50px;
  text-align: center;
  padding-top: 9px;
  border-radius: 30px; }
  .player-page .user-option.pt-hd, .player-page .user-option.pt-embed {
    font-size: 20px;
    padding-top: 15px; }
  .player-page .user-option.pt-youtube:hover {
    color: #eb4b3e; }
  .player-page .user-option.pt-youtube:active {
    color: #eb4b3e; }
  .player-page .user-option.pt-vimeo:hover {
    color: #009ee2; }
  .player-page .user-option.pt-vimeo:active {
    color: #009ee2; }
  .player-page .user-option.pt-pdf {
    font-size: 34px;
    padding-top: 7px; }
    .player-page .user-option.pt-pdf:hover {
      color: #e34847; }
    .player-page .user-option.pt-pdf:active {
      color: #e34847; }
  .player-page .user-option.pt-powerpoint:hover {
    color: #ce4836; }
  .player-page .user-option.pt-powerpoint:active {
    color: #ce4836; }
  .player-page .user-option.pt-slideshare {
    font-size: 37px;
    padding-top: 5px; }
    .player-page .user-option.pt-slideshare:hover {
      color: #047ab4; }
    .player-page .user-option.pt-slideshare:active {
      color: #047ab4; }
  .player-page .user-option.pt-download:hover {
    color: #a229e2; }
  .player-page .user-option.pt-download:active {
    color: #a229e2; }
  .player-page .user-option.pt-download-mp4 {
    font-size: 34px;
    padding-top: 7px; }
    .player-page .user-option.pt-download-mp4:hover {
      color: #a229e2; }
    .player-page .user-option.pt-download-mp4:active {
      color: #a229e2; }
  .player-page .user-option.pt-wistia:hover {
    color: #54bbff; }
  .player-page .user-option.pt-wistia:active {
    color: #54bbff; }
  .player-page .user-option.pt-hd:hover {
    color: #6bc497; }
  .player-page .user-option.pt-hd:active {
    color: #6bc497; }
  .player-page .user-option.pt-embed:hover {
    color: #f5b751; }
  .player-page .user-option.pt-embed:active {
    color: #f5b751; }

.player-page .row.first {
  padding-top: 50px; }

.player-page li.edit-pwt {
  padding-right: 0; }

.player-page .edit-pwt {
  padding-right: 0;
  padding-bottom: 10px;
  width: 164px;
  display: inline-block; }
  .player-page .edit-pwt .js-publish-button {
    background-color: #ffffff;
    color: #000000;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #000000; }
    .player-page .edit-pwt .js-publish-button:hover {
      background-color: #ffffff;
      color: #000000; }
  .player-page .edit-pwt a {
    display: inline-block;
    text-align: center;
    width: 181px;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    background-color: #42a5f5;
    height: 38px;
    line-height: 38px;
    font-family: Muller-Regular;
    letter-spacing: .8px;
    border-radius: 4px; }
    .player-page .edit-pwt a.select_size {
      padding: 8px 4px 9px 5px; }
    .player-page .edit-pwt a i {
      font-size: 14px;
      margin-right: 8px;
      display: inline-block;
      position: relative;
      top: 1px; }
    .player-page .edit-pwt a:hover {
      background-color: #5ab4fd;
      color: #ffffff; }

.player-page .export_to_skoletube {
  display: inline-block;
  vertical-align: top;
  width: auto;
  text-align: center;
  border: 2px solid #71b8ca;
  padding: 10px;
  margin-top: 3px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #71b8ca;
  text-transform: uppercase; }
  .player-page .export_to_skoletube i {
    font-size: 14px;
    margin-right: 6px; }
  .player-page .export_to_skoletube:hover {
    background-color: #71b8ca;
    color: #ffffff; }
  .player-page .export_to_skoletube:active {
    background-color: #639ead;
    border-color: #639ead; }

.player-page .pt-skoletube {
  display: inline-block; }

.player-page .by, .player-page .name {
  padding-left: 16px;
  font-family: Muller-Regular;
  font-size: 16px; }

.player-page .name {
  font-size: 35px;
  color: #253740;
  margin-bottom: 7px;
  margin-top: 0;
  margin-left: 13px;
  width: 638px;
  word-wrap: break-word; }

.player-page .category, .player-page .tags {
  font-weight: 400; }
  .player-page .category i, .player-page .tags i {
    font-size: 20px;
    color: #a9acac;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top; }
  .player-page .category .tag-list, .player-page .tags .tag-list {
    display: inline-block;
    max-width: 216px; }

.player-page .player-extra .category {
  text-transform: uppercase; }

.player-page .tags {
  margin-top: 10px;
  font-family: ubuntu,Arial;
  font-weight: 100; }
  .player-page .tags .pt-label {
    margin-top: 5px; }

.player-page .policy {
  margin-top: 20px;
  font-size: 12px;
  padding-right: 35px;
  -webkit-font-smoothing: antialiased; }

.player-page a.embed {
  font-size: 12px; }

.player-page a.md-trigger.ccc, .player-page a.md-trigger.embed, .player-page a.md-trigger.abc {
  cursor: pointer;
  outline: none;
  vertical-align: top;
  font-family: "Arial",san-serif !important;
  display: inline-block;
  background: #a9acac;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  padding-top: 13px;
  color: white;
  font-weight: 600; }
  .player-page a.md-trigger.ccc:hover, .player-page a.md-trigger.embed:hover, .player-page a.md-trigger.abc:hover {
    background-color: #7c8282; }
  .player-page a.md-trigger.ccc:active, .player-page a.md-trigger.embed:active, .player-page a.md-trigger.abc:active {
    background-color: #616565; }

.player-page .player-box {
  padding: 18px 17px 19px 31px; }
  .player-page .player-box .cta {
    margin: 30px 0 50px 0;
    width: 640px;
    text-align: center; }
  .player-page .player-box .player .player-embed {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    max-width: 640px;
    min-width: 640px;
    min-height: 387px;
    max-height: 400px;
    border: #AAACAB 1px solid;
    overflow: hidden;
    margin-bottom: 15px; }
    .player-page .player-box .player .player-embed .flash-player-style {
      margin-left: -1px; }
    .player-page .player-box .player .player-embed.external-video-player {
      max-height: 360px;
      min-width: 640px;
      min-height: 360px; }
  .player-page .player-box > div {
    display: inline-block; }
  .player-page .player-box .player-extra {
    float: right;
    width: 262px;
    padding-right: 0;
    vertical-align: top; }
    .player-page .player-box .player-extra div:first-child .fb-like {
      border-left: none;
      margin-top: 3px;
      padding-left: 0; }
    .player-page .player-box .player-extra .share-box {
      min-height: 105px; }
      .player-page .player-box .player-extra .share-box .social-icon {
        outline: none;
        cursor: pointer; }
      .player-page .player-box .player-extra .share-box .title {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        font-family: Muller-Medium;
        color: #455a64;
        letter-spacing: .7px; }
    .player-page .player-box .player-extra ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      text-align: left; }
      .player-page .player-box .player-extra ul li {
        vertical-align: top;
        display: inline-block;
        position: relative; }
        .player-page .player-box .player-extra ul li a {
          cursor: pointer;
          font-size: 42px;
          color: #253740; }
          .player-page .player-box .player-extra ul li a.copied {
            color: #48cd80; }
            .player-page .player-box .player-extra ul li a.copied:before {
              content: "\e928" !important;
              top: 9px !important;
              right: 6px;
              font-size: 25px; }
          .player-page .player-box .player-extra ul li a.pt-link2.hover {
            color: #30c3e8; }
          .player-page .player-box .player-extra ul li a.pt-link2:before {
            top: 12px; }
          .player-page .player-box .player-extra ul li a:hover {
            color: #30c3e8; }
          .player-page .player-box .player-extra ul li a:active {
            color: #229fbe; }
  .player-page .player-box .circular-arrow {
    display: inline-block;
    width: 35px;
    height: 40px;
    background: #f16146;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    padding-top: 7px;
    position: relative;
    top: -8px;
    margin-left: 9px; }

.player-page .fb-comments-box {
  margin-top: 20px; }

.player-page .fb-comments {
  margin-bottom: 40px;
  padding: 9px 9px 0px;
  background: white;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.player-page .user-info:first-child {
  padding-left: 0; }

.player-page .user-info .get_embeded_code {
  font-size: 13px; }

#competition_categories {
  padding: 10px; }
  #competition_categories .notification-box {
    background: rgba(245, 183, 81, 0.8);
    padding: 10px 10px 10px 60px;
    color: black;
    width: 540px;
    margin-left: -20px;
    border-left: 10px solid #f8a721; }
    #competition_categories .notification-box span {
      display: inline-block;
      width: 374px;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 1px solid white; }
    #competition_categories .notification-box i {
      color: white;
      font-size: 36px; }
  #competition_categories #categories {
    padding-left: 38px;
    padding-top: 24px; }
  #competition_categories .confirm {
    margin-top: 32px;
    padding-left: 38px; }
    #competition_categories .confirm span {
      display: inline-block; }
      #competition_categories .confirm span:first-child {
        width: 360px;
        font-size: 12px; }
    #competition_categories .confirm .button > a {
      background: #333b3d;
      border-radius: 10px;
      padding: 10px 20px;
      color: white !important;
      text-transform: uppercase; }
      #competition_categories .confirm .button > a:hover {
        background: #4a5659; }

/*select*/
.select2-container {
  background: white;
  max-width: 166px;
  max-height: 32px; }

.select2-container .select2-choice {
  border-radius: 0;
  border: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  height: 30px;
  line-height: 28px;
  -webkit-filter: none;
          filter: none; }

.select2-container {
  width: 100%;
  height: 100%; }
  .select2-container > a {
    padding-top: 2px !important; }

.select2-container .select2-choice .select2-arrow {
  background: #a9acac;
  border-radius: 0;
  width: 20px;
  padding: 0;
  border: 0;
  -webkit-filter: none;
          filter: none; }

.select2-drop {
  background: #a9acac;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 12px; }

.select2-results {
  margin: 0;
  padding: 0;
  max-height: 180px;
  overflow-y: auto; }

.select2-results li {
  padding: 5px 0; }

.select2-container .select2-choice > .select2-chosen {
  padding: 0; }

.select2-container .select2-choice {
  height: 32px; }

.select2-results .select2-highlighted {
  background: #81d7ac; }

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 10px solid #fff;
  background: none;
  position: absolute;
  top: 37%;
  left: 50%;
  margin-left: -4px; }

.input_row {
  background-color: #ffffff;
  width: 100%;
  height: 32px;
  display: table;
  margin-bottom: 5px;
  position: relative;
  max-width: 263px; }

.input_row span {
  display: table-cell;
  padding: 0 0 0 10px;
  width: 100%; }

.input_row label {
  display: inline-block;
  color: #363f3f;
  font-size: 15px;
  display: table-cell;
  padding: 0 0 0 10px;
  white-space: nowrap;
  line-height: 30px; }

.input_row label:after {
  display: inline-block;
  content: ' ';
  width: 1px;
  height: 18px;
  background-color: #fff;
  vertical-align: middle;
  margin-left: 14px; }

.input_row input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #363f3f; }

.select2-drop {
  margin-top: 0px; }

.select2-results::-webkit-scrollbar {
  width: 5px; }

.select2-results::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

.select2-results::-webkit-scrollbar-thumb {
  background-color: #34414c;
  outline: none; }

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: none;
  background-image: none;
  -webkit-filter: none;
          filter: none; }

.select2-drop.select2-drop-above.select2-drop-active {
  border: none; }

.select2-drop.select2-drop-above {
  box-shadow: none; }

.player-like {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: -8px; }

.comp-logo-cont {
  padding-left: 37px;
  margin-bottom: 10px; }
  .comp-logo-cont span {
    vertical-align: top;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 9px; }
  .comp-logo-cont .comp-logo {
    font-size: 28pt;
    font-style: initial;
    color: white;
    vertical-align: middle;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75); }

.pt-folder {
  margin-right: 8px !important; }

.trouble {
  margin: 10px; }

.skoletube-icon {
  background: url(/site_media/static/img/skoletube.png) no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block;
  background-size: 100%; }

.no-media-items-message {
  text-align: center;
  font-weight: 800;
  padding-top: 50px;
  font-size: 16px; }

.additional-ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }
  .additional-ul .attr {
    color: #3d8cc7;
    font-weight: 400; }
  .additional-ul .transcript {
    color: #A9A9A9;
    max-height: 172px;
    height: auto;
    overflow-y: scroll;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #DDDDDD;
    margin-top: 6px; }

.panel-default {
  border-radius: 0 !important;
  border: 0 !important;
  background: none !important;
  box-shadow: none; }

.panel-heading {
  background: transparent !important; }
  .panel-heading a {
    display: inline-block;
    width: 100%;
    height: 100%; }
    .panel-heading a i {
      float: right;
      font-size: 12px; }
    .panel-heading a span {
      float: left;
      text-transform: uppercase; }

object:focus {
  outline: none; }

#flashContent {
  display: none;
  margin: 0 auto;
  position: absolute;
  display: block;
  height: 70px !important;
  top: 50% !important;
  margin-top: -35px !important;
  text-align: center;
  width: 100%; }

.player-page footer.main_footer {
  display: block; }

.player-page footer .nav-list li h3 {
  font-family: Muller-Bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.player-page footer .nav-list li a {
  font-weight: 100 !important; }

.player-page footer * {
  color: #0a293f; }

.player-page footer .row:first-child {
  max-width: 1024px;
  margin: auto; }

.atr-row > a, .atr-row > span, .atr-row > i {
  display: inline-block; }

.atr-row > a {
  vertical-align: top;
  margin-top: 14px; }

.atr-row > a.link {
  float: right; }

.atr-row > span {
  padding: 10px;
  font-size: 16px;
  max-width: 342px;
  position: relative; }

.atr-row .pt-link {
  font-size: 26px;
  padding: 10px;
  border-radius: 32px;
  border: 2px solid #253740;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #253740; }
  .atr-row .pt-link:hover {
    background: #2798b4;
    color: white;
    border-color: #2798b4; }

.transcript .line-break {
  background: #b6b9ba; }

/* CSS MODAL */
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 576px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%); }

.md-close {
  background: none;
  border: none;
  font-size: 13px !important;
  padding: 0;
  margin: 0;
  height: 30px;
  position: absolute;
  right: 25px;
  top: 17px;
  color: #34414c; }
  .md-close:hover {
    color: #30c3e8; }
  .md-close:active {
    color: #218ea9; }

.md-show {
  visibility: visible;
  opacity: 1; }

.md-content {
  padding: 20px 0px 20px 0px;
  min-width: 589px;
  box-shadow: 16px 23px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #253740;
  background: #dcdfe0 url("https://powtoon-dev2-static.s3.amazonaws.com/img/noise_bg.png"); }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* Effect 3: Slide from the top */
.md-effect-3 .md-content {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-3 .md-content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

/* EMBED CSS */
.well-embed {
  background: white;
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 7px; }

.pw {
  line-height: 24px; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: #365d71;
  outline: none; }

.nav > li.open > a {
  background: transparent; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent;
  border: none; }

.line-break-h {
  width: 1px;
  height: 45px;
  background: #D4D5D5;
  display: inline-block;
  margin: 0 2px 0 2px; }

.md-modal .title-plus-icon {
  margin: 8px 10px 23px 47px; }
  .md-modal .title-plus-icon i, .md-modal .title-plus-icon span {
    display: inline-block;
    vertical-align: top; }
  .md-modal .title-plus-icon span {
    font-size: 15pt;
    font-family: ubuntu;
    padding-left: 9px;
    margin-top: 7px;
    color: #363f3f;
    text-transform: uppercase; }
    .md-modal .title-plus-icon span:before {
      content: " ";
      vertical-align: top;
      width: 1px;
      height: 31px;
      background: #253740;
      display: inline-block;
      margin-right: 15px; }

.md-modal #powtoon-attribution .title-plus-icon {
  margin: 0px 10px 23px 47px; }
  .md-modal #powtoon-attribution .title-plus-icon i, .md-modal #powtoon-attribution .title-plus-icon span {
    display: inline-block;
    vertical-align: top; }
  .md-modal #powtoon-attribution .title-plus-icon span {
    padding-left: 9px;
    color: #363f3f;
    text-transform: uppercase; }
  .md-modal #powtoon-attribution .title-plus-icon i.abc {
    padding-top: 3px; }

.md-modal .creative-commons {
  font-family: 'Conv_cc-icons',Sans-Serif;
  font-size: 30px;
  letter-spacing: -5px; }

.md-modal a.tooltips {
  display: inline;
  text-decoration: none;
  color: inherit; }

.md-modal a.tooltips:hover {
  color: inherit;
  text-decoration: none; }

.md-modal a.tooltips span {
  position: absolute;
  width: 300px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #525252;
  height: 30px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  top: 0; }

.md-modal a.tooltips span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-top: 10px solid #525252;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent; }

.md-modal a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

.md-modal a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  top: -20px;
  left: -35px;
  z-index: 999; }

.md-modal #powtoon-transcript .title-plus-icon {
  margin: 6px 10px 26px 40px; }
  .md-modal #powtoon-transcript .title-plus-icon span {
    margin-top: 3px; }
    .md-modal #powtoon-transcript .title-plus-icon span:before {
      position: relative;
      top: 0px;
      height: 36x; }

.md-modal #powtoon-transcript .copy-swf {
  cursor: pointer; }

.md-modal #powtoon-transcript i.abc {
  padding-top: 0px; }

.md-modal .wrapper-embed-bottom {
  display: inline-block;
  width: 583px; }

.md-modal .copy-swf {
  cursor: pointer;
  width: 100px; }

.md-modal #powtoon_competition {
  margin-bottom: 10px; }

.md-modal .terms-and-cond {
  margin-top: 30px; }
  .md-modal .terms-and-cond .pt-arrow_up {
    position: relative;
    float: right;
    top: -55px;
    right: 51px;
    font-size: 10px;
    color: grey;
    cursor: pointer; }
  .md-modal .terms-and-cond .transcript {
    position: relative;
    left: -20px;
    padding-left: 62px;
    width: 539px; }
  .md-modal .terms-and-cond .title-plus-icon {
    margin: 0px 10px 26px 40px; }
    .md-modal .terms-and-cond .title-plus-icon span {
      margin-top: 0; }
      .md-modal .terms-and-cond .title-plus-icon span:before {
        position: relative;
        top: 0px;
        height: 36px; }

.md-modal .pt-embedic {
  font-size: 37px; }

.md-modal .pt-copy {
  background: #253740;
  color: white;
  width: 73px;
  height: 73px;
  border-radius: 35px;
  text-align: center;
  padding-top: 20px;
  display: inline-block; }
  .md-modal .pt-copy:hover {
    background-color: #66b2c6; }
  .md-modal .pt-copy:active {
    background-color: #57abc0; }

i.abc {
  font-style: normal;
  font-family: Open Sans,Arial;
  font-weight: 700;
  color: #333b3d;
  font-size: 19pt;
  padding-top: 0px; }

.transcript {
  max-width: 550px;
  background-color: rgba(169, 172, 172, 0.53);
  padding: 24px 0 0 48px;
  position: relative;
  left: -8px;
  width: 100%;
  min-height: 200px;
  max-height: 230px;
  overflow-y: auto;
  margin-bottom: 33px;
  border: 0;
  font-weight: 100;
  color: #363f3f; }

.transcript::-webkit-scrollbar {
  width: 5px; }

.transcript::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

.transcript::-webkit-scrollbar-thumb {
  background-color: #253740;
  outline: none; }

textarea.transcript {
  resize: none; }

#embed-code {
  max-width: 550px;
  background-color: rgba(169, 172, 172, 0.53);
  border-radius: 0;
  position: relative;
  left: -8px;
  min-height: 100px;
  max-height: 100px;
  border: 0;
  padding-left: 47px;
  color: #363f3f;
  padding-top: 15px;
  resize: none;
  font-weight: 100; }
  #embed-code::-moz-selection {
    color: #253740;
    background: #f1f1f1; }
  #embed-code::selection {
    color: #253740;
    background: #f1f1f1; }
  #embed-code::-moz-selection {
    color: #253740;
    background: #f1f1f1; }

#embed-info {
  margin-top: 10px;
  padding-left: 30px;
  color: #4c5b5d; }

.zclip, .copy_to_clipboard {
  cursor: pointer;
  bottom: -37px; }

.copy_to_clipboard.copied {
  position: relative;
  top: 12px; }
  .copy_to_clipboard.copied:before {
    content: "copied!";
    font-size: 15px;
    font-family: "ubuntu","Arial"; }

.zclip {
  background: transparent;
  border-radius: 35px;
  cursor: pointer; }
  .zclip:hover {
    background: rgba(255, 255, 255, 0.1); }
  .zclip:active {
    background: rgba(255, 255, 255, 0.2); }

.embed-ul {
  margin-top: 10px;
  width: 465px;
  display: inline-block;
  list-style: none;
  padding: 0;
  padding-left: 30px; }
  .embed-ul li {
    padding: 1px;
    display: inline-block;
    border-radius: 5px; }
    .embed-ul li.selected {
      background: #ddd; }
    .embed-ul li a {
      color: #6d6e6e;
      text-decoration: none;
      width: auto !important; }

.competition-link {
  vertical-align: top;
  padding: 10px; }
  .competition-link a {
    color: inherit;
    text-decoration: none;
    vertical-align: top; }
    .competition-link a:hover {
      color: grey; }
  .competition-link i {
    font-size: 19px; }

.line-break {
  background-color: #d4d5d5;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 17px; }

.attribution-images {
  background: rgba(0, 0, 0, 0.1);
  width: 584px;
  margin-left: -28px;
  padding: 14px 25px 11px 29px; }

#powtoon-attribution .atr-row a {
  width: 80px;
  height: 60px;
  overflow: hidden; }
  #powtoon-attribution .atr-row a img {
    width: 80px;
    height: auto; }
  #powtoon-attribution .atr-row a.link {
    width: 67px; }

/* competition babbers addition */
#enter_the {
  width: 100%; }
  #enter_the .b2 {
    position: absolute;
    top: -32px;
    left: -675px;
    width: 431px;
    display: none; }
  #enter_the .b1 {
    position: absolute;
    top: -300px;
    left: -665px;
    width: 767px;
    display: none; }
  #enter_the .pt-close {
    float: right;
    top: -325px;
    cursor: pointer;
    position: absolute;
    right: 339px;
    color: white;
    font-size: 20px; }
    #enter_the .pt-close:hover {
      color: #e65d5d; }

.light_up {
  position: relative !important;
  z-index: 2000 !important; }

i.pt-refresh {
  display: inline-block;
  -webkit-animation: infinite-spinning 1s;
  animation: infinite-spinning 1s;
  -moz-animation: infinite-spinning 1s; }

#enter-now i.pt-refresh {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  display: inline; }

@keyframes infinite-spinning {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes infinite-spinning {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes infinite-spinning {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

/*****************  FOLLOW POPUP  *******************/
#followModal .modal-header {
  background-color: #dbdee6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

#followModal .modal-title {
  font-family: 'Visby-ExtraBold', Arial;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  color: #f9564d;
  text-transform: uppercase; }

#followModal .modal-body p {
  padding-right: 70px;
  height: 100px;
  font-size: 18px;
  color: #5c5f65;
  display: inline-block;
  margin-left: 145px;
  font-family: 'Visby-Medium'; }

#followModal .btn-start-creating {
  width: 228px;
  height: 39px;
  background-color: #7cbe45;
  color: #fefefd;
  font-size: 16px;
  border-radius: 39px;
  outline: none;
  font-family: 'HalisR-Light'; }

#followModal .btn-start-creating:hover, #followModal .btn-start-creating:focus {
  color: #fefefd;
  background-color: #8fd555;
  outline: none; }

#followModal .btn.active.focus, #followModal .btn.active:focus, #followModal .btn.focus, #followModal .btn:active.focus, #followModal .btn:active:focus, #followModal .btn:focus {
  outline: none; }

#followModal .modal-body {
  background: url(https://powtoon.s3.amazonaws.com/images/website/follow-popup/bg-like.png) 0% 40px no-repeat;
  padding-top: 38px; }

#followModal .modal-body:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 21px 0 21px;
  border-color: #dbdee6 transparent transparent transparent;
  position: absolute;
  top: -1px;
  display: block;
  left: 50%;
  margin-left: -21px; }

#followModal .modal-footer {
  padding: 23px;
  text-align: center;
  margin-top: 0; }

#followModal .follow-buttons {
  text-align: center;
  padding: 20px 0 10px 0; }

#followModal .fb-button {
  color: #34538f;
  border: 1px solid #34538f;
  font-size: 14px;
  border-radius: 6px;
  width: 281px;
  height: 42px;
  margin: 9px auto;
  line-height: 40px;
  text-align: center; }

#followModal .twitter-button {
  color: #3bbce8;
  border: 1px solid #3bbce8;
  font-size: 14px;
  border-radius: 6px;
  width: 281px;
  height: 42px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center; }

#followModal .twitter-button a {
  margin-left: -15px; }

iframe#twitter-widget-0 {
  vertical-align: middle;
  margin-right: 6px; }

.fb_iframe_widget {
  vertical-align: middle;
  line-height: 100%; }

#followModal .pt-x {
  font-size: 15px;
  right: -20px;
  position: absolute;
  top: -13px;
  color: #dbdee6;
  opacity: 1; }

@font-face {
  font-family: 'Visby-ExtraBold';
  src: url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-ExtraBold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-ExtraBold-webfont.woff") format("woff"), url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-ExtraBold-webfont.ttf") format("truetype"), url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-ExtraBold-webfont.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Visby-Medium';
  src: url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-Medium-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-Medium-webfont.woff") format("woff"), url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-Medium-webfont.ttf") format("truetype"), url("https://powtoon.s3.amazonaws.com/images/lp/webinar-new/fonts/VisbyCF-Medium-webfont.svg#svgFontName") format("svg"); }

.mode-toggle {
  position: relative;
  height: 19px; }
  .mode-toggle .preloader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 33%; }
    .mode-toggle .preloader .preloader-animation {
      background-image: url("../../../images/tiny-loader.gif");
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 3px; }

.player-embed .preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff; }
  .player-embed .preloader .preloader-animation {
    background-image: url("../../../images/tiny-loader.gif");
    width: 16px;
    height: 16px; }

.ie .player-extra .toggle label span:first-child::after {
  right: -43px;
  width: 44px;
  height: 23px; }
