.powtoon-rebirth#publish-modal {
  background-color: white; }
  .powtoon-rebirth#publish-modal .modal-content {
    width: 650px;
    margin-top: 40px; }
    .powtoon-rebirth#publish-modal .modal-content .youtube-page {
      width: 745px;
      margin-left: -103px; }
      .powtoon-rebirth#publish-modal .modal-content .youtube-page .section-label.privacy:after {
        content: "Privacy"; }
      .powtoon-rebirth#publish-modal .modal-content .youtube-page .section-content {
        padding-right: 0; }
        .powtoon-rebirth#publish-modal .modal-content .youtube-page .section-content h2 {
          font-size: 18px;
          -ms-overflow-style: none; }
        .powtoon-rebirth#publish-modal .modal-content .youtube-page .section-content .section-content-subsection:not(:last-child) {
          width: auto;
          padding: 25px;
          padding-top: 0;
          line-height: 150%; }
    .powtoon-rebirth#publish-modal .modal-content .facebook-page .section-label.privacy:after {
      content: "Privacy"; }
    .powtoon-rebirth#publish-modal .modal-content .facebook-page .section-content h2 {
      -ms-overflow-style: none; }
    .powtoon-rebirth#publish-modal .modal-content .facebook-page .section-content .section-content-subsection:not(:last-child) {
      width: auto;
      padding: 25px;
      padding-top: 0;
      line-height: 150%;
      position: absolute;
      top: -20px;
      left: 0;
      padding: 0 30px; }
    .powtoon-rebirth#publish-modal .modal-content .details-page .section-category:first-child .section-content {
      padding-left: 10px;
      padding-bottom: 20px; }
    .powtoon-rebirth#publish-modal .modal-content .selectbox .select_input {
      background-color: #dbdadd;
      border: none;
      border-bottom: 1px solid #253740;
      width: 400px;
      height: 40px; }
      .powtoon-rebirth#publish-modal .modal-content .selectbox .select_input h2 {
        color: #253740;
        font-size: 16px; }
  .powtoon-rebirth#publish-modal .modal-error {
    color: red; }
  .powtoon-rebirth#publish-modal header {
    text-align: center;
    position: relative; }
    .powtoon-rebirth#publish-modal header::before {
      border-bottom: 1px dotted #c9ced3;
      content: '';
      position: absolute;
      left: -1000px;
      bottom: 0;
      width: 10000%; }
  .powtoon-rebirth#publish-modal footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 36px;
    max-height: 36px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
    box-sizing: content-box; }
    .powtoon-rebirth#publish-modal footer .button:before {
      position: absolute;
      height: 100%;
      font-size: 125%;
      line-height: 3.5;
      color: #fff;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .powtoon-rebirth#publish-modal footer .button.modal-back {
      margin-right: 25px;
      position: relative;
      overflow: hidden;
      color: #31414a;
      border-radius: 3px; }
      .powtoon-rebirth#publish-modal footer .button.modal-back:before {
        left: -50%;
        top: -3px; }
      .powtoon-rebirth#publish-modal footer .button.modal-back:hover:before {
        left: 5%; }
      .powtoon-rebirth#publish-modal footer .button.modal-back:hover {
        color: #253740;
        border-color: #253740;
        font-family: Muller-Medium; }
      .powtoon-rebirth#publish-modal footer .button.modal-back:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
    .powtoon-rebirth#publish-modal footer .button.modal-next {
      position: relative;
      overflow: hidden;
      background-color: #42a5f5;
      border-color: #42a5f5;
      border-radius: 3px; }
      .powtoon-rebirth#publish-modal footer .button.modal-next:hover {
        background-color: #2789cb; }
      .powtoon-rebirth#publish-modal footer .button.modal-next:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .powtoon-rebirth#publish-modal footer .button.modal-next:before {
        right: -50%;
        top: -3px; }
      .powtoon-rebirth#publish-modal footer .button.modal-next:hover:before {
        right: 5%; }
    .powtoon-rebirth#publish-modal footer .icon-arrow-right:before {
      font-family: 'rebirth' !important;
      content: "\e617";
      color: #fff;
      font-size: 13px; }
    .powtoon-rebirth#publish-modal footer .icon-arrow-left:before {
      font-family: 'rebirth' !important;
      content: "\e617";
      color: #31414a;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      font-size: 13px; }
  .powtoon-rebirth#publish-modal section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px dashed #a8b0bc;
    position: relative; }
    .powtoon-rebirth#publish-modal section .description {
      font-family: Muller-Light;
      font-size: 16px;
      color: #253740;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .powtoon-rebirth#publish-modal section .description .details-add-tags .rightlink .rightedit {
        left: 174px; }
      .powtoon-rebirth#publish-modal section .description text-area {
        width: 49%;
        display: inline-block;
        vertical-align: top; }
        .powtoon-rebirth#publish-modal section .description text-area:last-child .toptext {
          margin-left: 10px; }
        .powtoon-rebirth#publish-modal section .description text-area:last-child .topbar h2 {
          margin-left: 10px; }
        .powtoon-rebirth#publish-modal section .description text-area:last-child .topbar button h2 {
          margin-left: 0; }
    .powtoon-rebirth#publish-modal section .section-content {
      padding: 40px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-right: 110px; }
      .powtoon-rebirth#publish-modal section .section-content.quality-list {
        padding: 34px;
        padding-left: 0; }
      .powtoon-rebirth#publish-modal section .section-content .section-content-subsection:not(:last-child) {
        padding-bottom: 24px;
        width: 400px; }
      .powtoon-rebirth#publish-modal section .section-content .section-content-subsection.select-box-subsection {
        padding-top: 12px;
        padding-bottom: 12px; }
      .powtoon-rebirth#publish-modal section .section-content .section-content-subsection.sub-message {
        font-family: VisbyCF-bold;
        color: #a1aab7;
        font-size: 10px;
        line-height: 13px; }
    .powtoon-rebirth#publish-modal section .section-label-container {
      min-width: 120px;
      max-width: 120px; }
      .powtoon-rebirth#publish-modal section .section-label-container .section-label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-right: 45px; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label::after {
          font-family: VisbyCF-DemiBold;
          font-size: 10px;
          color: #687078;
          letter-spacing: 0.5px;
          text-transform: initial;
          line-height: 12px; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label .privacy-tooltip {
          width: 187px;
          height: 70px;
          display: none;
          font-size: 13px;
          color: #253740;
          border: 1px solid #666666;
          border-radius: 5px;
          padding: 1.5% 15px;
          position: absolute;
          background-color: #fff;
          line-height: 135%;
          top: -60px;
          left: -125px;
          text-align: center; }
          .powtoon-rebirth#publish-modal section .section-label-container .section-label .privacy-tooltip:before {
            content: " ";
            position: absolute;
            top: 100%;
            /* At the bottom of the tooltip */
            left: 151px;
            border-width: 9px;
            border-style: solid;
            border-color: #666666 transparent transparent transparent; }
          .powtoon-rebirth#publish-modal section .section-label-container .section-label .privacy-tooltip:after {
            content: " ";
            position: absolute;
            top: 100%;
            /* At the bottom of the tooltip */
            left: 152px;
            border-width: 8px;
            border-style: solid;
            border-color: #fff transparent transparent transparent; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.privacy:hover .privacy-tooltip {
          display: block; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.category::before {
          content: "\e904"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.category::after {
          content: "Category"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.details::before {
          content: "\e905"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.details::after {
          content: "Details"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.privacy::before {
          content: "\e90d"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.privacy::after {
          content: "Powtoon Privacy";
          width: 100%; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.quality::before {
          content: "\e907"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.quality::after {
          content: "Quality"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.watermark::before {
          content: "\e91e"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.watermark::after {
          content: "Watermark"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.youtube::before {
          content: "\e62e"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.youtube::after {
          content: "Account"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.hubspot::before {
          content: "\e93f"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.hubspot::after {
          content: "HubSpot"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.facebook::before {
          content: "\e908";
          font-size: 60px;
          position: relative;
          top: 18px; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.facebook::after {
          content: "Account"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.vimeo::before {
          content: "\e91c"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.vimeo::after {
          content: "Account"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.wistia::before {
          content: "\e920"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.wistia::after {
          content: "Account"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.slideshare::before {
          content: "\e913"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label.slideshare::after {
          content: "Account"; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label::before {
          /* use !important to prevent issues with browser extensions     that change fonts */
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-family: 'rebirth' !important;
          font-size: 33px;
          color: #253740;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .powtoon-rebirth#publish-modal section .section-label-container .section-label::after {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-family: Muller-Light;
          font-size: 12px;
          color: #253740;
          margin-top: 5px;
          text-align: center; }
  .powtoon-rebirth#publish-modal .modal-error {
    color: red; }
  .powtoon-rebirth#publish-modal .quality-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .powtoon-rebirth#publish-modal .quality-list .quality {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      height: 60px;
      padding-left: 60px; }
      .powtoon-rebirth#publish-modal .quality-list .quality .description {
        width: 125px; }
  .powtoon-rebirth#publish-modal .section-privacy {
    z-index: 1; }
  .powtoon-rebirth#publish-modal .section-content-subsection.category {
    z-index: 2; }
    .powtoon-rebirth#publish-modal .section-content-subsection.category .select_list .option:first-child {
      display: none; }
  .powtoon-rebirth#publish-modal .modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .powtoon-rebirth#publish-modal .modal-header steps {
      margin-bottom: -29px; }
    .powtoon-rebirth#publish-modal .modal-header .pow-modal-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      min-height: 100%; }
      .powtoon-rebirth#publish-modal .modal-header .pow-modal-header .description {
        font-family: VisbyCF-Medium;
        font-size: 15px;
        color: #687078;
        letter-spacing: 0.5px;
        padding: 0; }
      .powtoon-rebirth#publish-modal .modal-header .pow-modal-header .logo {
        font-size: 36px; }
  .powtoon-rebirth#publish-modal .pticon-youtubeicon::before {
    color: #fff;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    font-size: 22px;
    vertical-align: text-top; }
  .powtoon-rebirth#publish-modal .pticon-slideshareicon::before {
    color: #fff;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    font-size: 30px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-facebookicon::before {
    color: #fff;
    font-size: 29px;
    padding: 0px 14px 0px;
    border-right: 1px solid #fff;
    margin-right: 14px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-facebookuploadicon::before {
    color: #fff;
    font-size: 29px;
    padding: 0px 14px 0px;
    border-right: 1px solid #fff;
    margin-right: 14px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-googleplusicon::before {
    color: #fff;
    font-size: 23px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-top; }
  .powtoon-rebirth#publish-modal .pticon-linkedinicon::before {
    color: #fff;
    font-size: 26px;
    padding: 0px 12px 0;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-top;
    display: inline-block;
    margin-bottom: 17px; }
  .powtoon-rebirth#publish-modal .pticon-ppticon::before {
    color: #fff;
    font-size: 29px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-pdficon::before {
    color: #FFF;
    font-size: 29px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-mailicon::before {
    color: #FFF;
    font-size: 21px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-top; }
  .powtoon-rebirth#publish-modal .pticon-embedicon::before {
    color: #FFF;
    font-size: 33px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-twittericon::before {
    color: #fff;
    font-size: 26px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-wistiaicon::before {
    color: #fff;
    font-size: 29px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-vimeoicon::before {
    color: #fff;
    font-size: 28px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-hubspoticon::before {
    color: #fff;
    content: "\e93f";
    font-size: 28px;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal .pticon-mp4icon::before {
    font-size: 22px;
    color: #fff;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-top; }
  .powtoon-rebirth#publish-modal .pticon-offline_playericon::before {
    font-size: 32px;
    color: #fff;
    padding: 0px 12px 0px;
    border-right: 1px solid #fff;
    margin-right: 12px;
    vertical-align: text-bottom; }
  .powtoon-rebirth#publish-modal select-box {
    width: 100%; }
  .powtoon-rebirth#publish-modal text-area {
    width: 100%; }
  .powtoon-rebirth#publish-modal .select-box-anchor {
    position: relative; }
  .powtoon-rebirth#publish-modal [ng\:cloak], .powtoon-rebirth#publish-modal [ng-cloak], .powtoon-rebirth#publish-modal [data-ng-cloak], .powtoon-rebirth#publish-modal [x-ng-cloak], .powtoon-rebirth#publish-modal .ng-cloak, .powtoon-rebirth#publish-modal .x-ng-cloak {
    display: none !important; }
  .powtoon-rebirth#publish-modal .pticon-playerpagetitle {
    background-image: url("/rebirth/assets/powtoon-logo.svg");
    width: 90px;
    height: 31px;
    background-repeat: no-repeat; }

/* Sorry, this is originally inline at the editor.html ): */
.modal-backdrop-payment {
  z-index: 2015 !important;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.text-6, .powtoon-rebirth#publish-modal .modal-error {
  font-family: VisbyCF-DemiBold;
  font-size: 10px;
  color: #676f77;
  letter-spacing: 0.5px;
  text-transform: initial;
  line-height: 12px; }

#popup-container {
  z-index: 10000;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -400px; }
