.quality-page .watermark-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px; }
  .quality-page .watermark-form .feature-popup-hover-element {
    margin-right: 35px; }
  .quality-page .watermark-form .feature-popup-container {
    top: -4px;
    left: -240px; }
    .quality-page .watermark-form .feature-popup-container .feature-popup-one-button p {
      color: #424f61;
      font-size: 14px; }
    .quality-page .watermark-form .feature-popup-container .feature-popup-one-button:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 0 6.5px 8px;
      border-color: transparent transparent transparent #ffffff;
      top: 20px;
      left: 216px; }

.quality-page .ptsvg-devices-1 {
  background-image: url("/rebirth/assets/pticon-1.svg");
  width: 55px;
  height: 24px;
  background-repeat: no-repeat; }

.quality-page .ptsvg-devices-2 {
  background-image: url("/rebirth/assets/pticon-2.svg");
  height: 28px;
  width: 135px;
  background-repeat: no-repeat; }

.quality-page .ptsvg-devices-3 {
  background-image: url("/rebirth/assets/pticon-3.svg");
  width: 211px;
  height: 28px;
  background-repeat: no-repeat; }

.quality-page .section-label.ptsvg-watermark::before {
  content: '';
  background-image: url("/rebirth/assets/watermark.svg");
  width: 71px;
  height: 36px;
  margin-left: -16px;
  background-repeat: no-repeat; }

.quality-page .section-label.ptsvg-watermark::after {
  content: 'Watermark'; }

.quality-page .section-label.ptsvg-squared-branding {
  margin-top: 20px; }
  .quality-page .section-label.ptsvg-squared-branding::before {
    content: '';
    background-image: url("/rebirth/assets/branding_ptsquared.svg");
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    margin-bottom: 4px; }
  .quality-page .section-label.ptsvg-squared-branding::after {
    content: 'Branding'; }

.quality-page section:first-child {
  z-index: 1; }

.quality-page .section-content.watermark {
  padding-right: 50px !important; }

.quality-page .section-content-subsection.watermark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: initial; }
  .quality-page .section-content-subsection.watermark .watermark-feature-popup {
    position: relative; }
  .quality-page .section-content-subsection.watermark .watermark-text {
    margin-right: 65px; }
  .quality-page .section-content-subsection.watermark p.squared-note {
    font-size: 11px;
    font-family: Muller-Light;
    padding: 17px 72px 0 58px;
    letter-spacing: 1px; }
  .quality-page .section-content-subsection.watermark label {
    margin-top: 15px; }
    .quality-page .section-content-subsection.watermark label:first-child {
      margin-right: 40px; }
    .quality-page .section-content-subsection.watermark label input {
      margin-right: 5px; }
    .quality-page .section-content-subsection.watermark label span {
      font-family: Muller-Medium;
      font-size: 16px;
      color: #253740;
      vertical-align: top;
      letter-spacing: 0.3px; }

.quality-page .quality-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: initial; }
  .quality-page .quality-list .quality {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .quality-page .quality-list .quality .description {
      margin-right: 19px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      min-width: 60px; }
    .quality-page .quality-list .quality .icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      z-index: -1;
      font-size: 36px; }
    .quality-page .quality-list .quality .radio-container {
      position: relative; }
      .quality-page .quality-list .quality .radio-container .quality-radio-feature-popup {
        position: absolute;
        left: -240px;
        top: -18px; }
        .quality-page .quality-list .quality .radio-container .quality-radio-feature-popup .feature-popup-container .feature-popup-one-button p {
          color: #424f61;
          font-size: 14px; }
        .quality-page .quality-list .quality .radio-container .quality-radio-feature-popup .feature-popup-container .feature-popup-one-button:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6.5px 0 6.5px 8px;
          border-color: transparent transparent transparent #ffffff;
          top: 20px;
          right: 9px; }
  .quality-page .quality-list .premium_badge {
    margin-left: 18px; }
  .quality-page .quality-list .quality-radio-cover {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 10; }
