.steps {
  text-align: center;
  border-bottom: 1px dotted #c9ced3;
  box-sizing: border-box;
  height: 29px; }

.step {
  display: inline-block;
  box-sizing: border-box;
  width: 145px; }
  .step p {
    display: inline-block;
    padding-left: 3px;
    color: #a1aab7;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.05px;
    font-family: VisbyCF-bold; }
  .step .step-circle {
    vertical-align: middle;
    text-align: center;
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #a1aab7;
    border-radius: 50px;
    display: inline-block; }
    .step .step-circle span {
      color: #a1aab7;
      padding-left: 1px;
      font-size: 13px;
      line-height: 9.7px;
      letter-spacing: 0.05px;
      font-family: VisbyCF-bold;
      position: relative;
      bottom: 1px;
      right: 0.5px; }
  .step .step-circle.current {
    background-color: #0d8dc4;
    border-color: #0d8dc4;
    position: relative; }
    .step .step-circle.current:before {
      content: '';
      display: block;
      height: 0px;
      width: 0px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #0d8dc4;
      position: absolute;
      left: 20px;
      top: 26px; }
    .step .step-circle.current span {
      color: #ffffff; }
    .step .step-circle.current ~ p {
      color: #0d8dc4; }
  .step .step-circle.complete {
    background-color: #40b980;
    border-color: #40b980;
    position: relative; }
    .step .step-circle.complete:after {
      content: '';
      display: block;
      width: 3px;
      height: 8px;
      border: solid #FFFFFF;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg);
      position: absolute;
      left: 6px;
      top: 2px; }
    .step .step-circle.complete span {
      display: none; }
    .step .step-circle.complete ~ p {
      color: #40b980; }
