#publish-modal .vimeo-page .accounts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #publish-modal .vimeo-page .accounts .account {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 85px; }
    #publish-modal .vimeo-page .accounts .account h4 {
      color: #2980b9; }
    #publish-modal .vimeo-page .accounts .account .pticon-userover::before {
      color: #687078; }
    #publish-modal .vimeo-page .accounts .account .icon::before {
      font-size: 80px;
      color: #253740;
      content: "\e916\e917";
      letter-spacing: -80px;
      padding-right: 80px; }
    #publish-modal .vimeo-page .accounts .account .uid {
      padding-top: 12px;
      min-width: 135px;
      max-width: 135px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      text-align: center;
      cursor: pointer; }
    #publish-modal .vimeo-page .accounts .account .icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 80px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
    #publish-modal .vimeo-page .accounts .account .chosen::before {
      color: #168dc6;
      content: "\e916\e917";
      letter-spacing: -80px;
      padding-right: 80px; }
    #publish-modal .vimeo-page .accounts .account .chosen + .uid {
      color: #00B1F6; }
    #publish-modal .vimeo-page .accounts .account a {
      Font-Family: VisbyCF-DemiBold;
      Color: #687078;
      font-size: 12px;
      Line-Height: 0.7em;
      Letter-Spacing: 0em;
      padding-top: 4px;
      cursor: pointer; }
  #publish-modal .vimeo-page .accounts .add {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #publish-modal .vimeo-page .accounts .add:not(:only-child) .add-button {
      min-width: 152px; }
    #publish-modal .vimeo-page .accounts .add .add-button {
      font-family: Muller-Medium;
      color: #687078;
      letter-spacing: .5px;
      padding-top: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer;
      font-size: 16px; }
      #publish-modal .vimeo-page .accounts .add .add-button .pticon-plusiocn {
        color: #fff;
        font-size: 10px;
        border-radius: 10px;
        background-color: #1A8CC5;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 12px;
        padding: 0 5px;
        display: inline-block; }
    #publish-modal .vimeo-page .accounts .add .icon::before {
      font-size: 80px;
      color: #253740; }
    #publish-modal .vimeo-page .accounts .add .icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 80px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
