<!-- Footer -->
    <footer class="text-center fstyle mt-3 pt-3">
      <div class="footer-above">
        <div class="container">
          <div class="row justify-content-center">
            <div class="footer-col col-6">
              <div class="row justify-content-center">
                <div class="col-12">
                <div class="row justify-content-center">
                  <div class="col-12"><h3>Contact Data</h3></div>
                </div>
                  
                <div class="row justify-content-center">
                  <div class="col-10">
                      <i class="fa fa-map-marker" aria-hidden="true"></i> IES L'estacio
                  </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <i class="fa fa-phone" aria-hidden="true"></i>123456789
                    </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-10">
                          <i class="fa fa-envelope" aria-hidden="true"></i><a href="#contacto" style="color:white">Contacto</a>
                      </div>
                  </div>
                  
              </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12"><h3>About FarmixShop</h3></div>
              </div>
              <div class="row">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                  <div class="col-6"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></div>
                  <div class="col-6"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></div>
                </div>
            </div>
          </div>
        </div>
      </div>

    </footer>
