<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top barra" id="mainNav" ng-controller="menuCtrl">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger text-white" href="#page-top">FarmixShop</a>
        <button class="navbar-toggler navbar-toggler-right text-white" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger text-white" href="#/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger text-white" href="#cosecha">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger text-white" href="#contacto">Contact</a>
            </li>
            <!-- LogProf -->
            <li id="LogProf" class="nav-item">
              <a id="acceder" ng-show="accederV" href="" class="btn btn-login" ng-click="open()" >Acceder</a>
              <a id='profile' ng-show="profileV" href='#/user/profile'><img ng-show="profileV" id='menuImg' class='icon rounded' src='{{avatar}}' width="50px"/>{{nikname}}</a>
          </li>

          <li class="nav-item"><a id='logout' ng-show="logoutV" ng-click='logout()' class="btn btn-login" >Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="alertbanner" ng-show="bannerV"><a  ng-class='bannerClass'>{{bannerText}}</a></div>