.fade.in {
    opacity: 1;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-content{
    margin-top: 40% !important;
}
.btns {
    min-height: 50px;
}
.btn-facebook{
    background: #4472c4;
    color: white;
}
.btn-twitter{
    background: #00aced;
    color: white;
}

  
.wrapper #avatar_user {
    object-fit: cover;
    border-radius:50%;
    width: 150px;
    height: 150px;
  }
  .profilehr{
    max-width: 50%;
}
.icon{
   color: #4CAF50;
   font-size: 18px;
}
.sttitle{
    font-size: 30px;
    color: #4CAF50;
}
.stat{
    text-align: center;
    font-weight: bold;
}
.tcent{
    text-align: center;
}