<!-- Main -->
<!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>-->
<div class="container-fluid mt-5" style="padding-top:50px;">
    <div class="row justify-content-md-center">
        <div class="col-md-6 ">
            <div class="input-group">
                <input type="text" class="filtre form-control input-search" ng-model="filterText" placeholder="Busca en nuestra cosecha..."><hr>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 back">
        <div class="col-5">
            <div id="mapholder" style="margin-left:-2.2%; margin-right: -2.3%;"></div>
        </div>
        <div class="col-7 ">
                    <div class="image fit">
                            <div class="ofertas row m-2 justify-content-md-center">
                                <div class="of col-5 card m-1 "  ng-repeat="item in filterData = (oferta | filter : {descripcion: filterText}) | limitTo:numPerPage:maxSize*(page-1)">
                                    <div ng-click="select(item.id_usuario)" class="row justify-content-md-center">
                                        <div class="col-3 m-3 ">
                                            <img src="{{item.avatar}}" width="100px"  >
                                        </div>
                                        <div class="col-6 mt-3">
                                            <h2 class="desc">{{item.emp_name}}</h2>
                                            <div ><a class="btn btn-info" role="button" href='#/cosecha/{{item.id_usuario}}'>Ver más</a></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div id="pager row justify-content-md-center">
                                <div class="col-5">
                                        <uib-pagination class="pagination-sm pagination bojose" total-items="filterData.length" ng-model="page"
                                        ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
                                </div>
                            </div>
                        </div>
    </div>
</div>
            
            


       
    
        
    </div>
