<section id="main" >
    <div class="container mt-5 pt-3">
    <div class="row justify-content-md-center mt-5 wrapper" >
        <div class="col-12">
            <div class="row justify-content-md-center">
                <div class="col-4"><h2>Ofertas de {{data.emp_name}}</h2></div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div ng-controller="maps">
                        <ng-map id="map" center="{{lat}},{{long}}" zoom="10" on-click="getpos($event)" >
                          <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)"
                             animation="DROP" draggable="true"></marker>
                        </ng-map>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-md-center">
                    <div class="of col-5 card m-1 "  ng-repeat="item in filterData = (products | filter : {descripcion: filterText}) | limitTo:numPerPage:maxSize*(page-1)">
                        <div ng-click="select(item.id_usuario)" class="row justify-content-center">
                            <div class="col-10 mt-1">
                                <h4 class="desc" style="text-align:center;">{{item.producto}}</h4>
                                <small class="cver">Tipo:</small> {{item.tipo}}
                                <div class="row">
                                        <div class="col-12"><small class="cver">Precio por kilogramo: </small>{{item.precio}}€/kg</div>
                                </div>
                                <div class="row">
                                        <div class="col-12"><small class="cver">Cantidad total:</small> {{item.cantidad}}/kg</div>                                        
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</section>